---
layout: default
---

<!DOCTYPE html>
<!-- 
  {{ page.title | default: site.title }}
  {{ page.description | default: site.description }}
  {{ page.url | absolute_url }}

  {{ page.author | default: site.author }}
  {{ page.email | default: site.email }}

 -->
<html lang="{{ page.lang | default: site.lang }}">
<head>

  <meta charset="{{ page.encoding | default: site.encoding }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="{{ page.description | default: site.description }}" />
  <meta name="keywords" content="{{ page.keywords | default: site.keywords }}" />
  <meta name="author" content="{{ page.author | default: site.author }}" />

  <title>{{ page.title | default: site.title }}</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
  <link rel="stylesheet" href="sidebar/sidebar.css" />

  {%- include metadata.html -%}

  <script src="sidebar/sidebar.js"></script>

  {%- include scripts.html -%}

</head>
<body>

  {{- content -}}

</body>
</html>
